* {
	margin: 0;
}

body {
	background-image: url(images/curtain.png);
	box-sizing: border-box;
}

.container {
	top: 10vh;
	left: 5vw;
	width: 90vw;
	position: absolute;
}

.header {
	color: yellow;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 45px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
	text-shadow: 5px 5px black;
}


.box {
    display: none;
	color: yellow;	
	font-size: 25px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    margin:auto;
    margin-top: 20px;
    width: 70%;		
}

.inputForm {
	font-size: 25px;
    margin:auto;
    width: 70%;	
    display: none;
}

.questionImage {
    height: 400px;
} 

img {
	height: 100%;
    display: block;
    margin: auto;
}

.interactive img {
	height: 100%;
}

.question {
    color: yellow;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 25px;
	font-family: 'Ubuntu', sans-serif;
}

.option {
	color: grey;
    border-radius: 15px;
	padding: 15px;
	font-size: 15px;
	width: 480px;
	margin-bottom: 15px;
	font-family: 'Ubuntu', sans-serif;
    border: none;
}

.options {
    width: 60%;
    margin: auto;
    margin-top: 15px;
	color: yellow;
	font-size: 45px;
    display: flex;
	font-family: 'Do Hyeon', sans-serif;
	   text-shadow: 5px 5px black;
}

.options__item{
	margin: auto;
}

.options__item:hover{
	border-radius: 30px;
	filter: drop-shadow(15px 15px 20px white);
}

.dragAndDropSection {
    display: none;
    margin:auto;
    margin-top: 20px;
    width: 90vw;
    text-align: center;
}

.row {
    flex-wrap:wrap;
    height:400px;
    justify-content: space-around;
}

#firstRow {
    margin-top: 20px;
}

.blank {
    box-sizing: border-box;
    height:180px;
    width: 300px;
    border: 3px dashed grey;
    color: grey;
    text-align: center;
    font-size: 45px;
    vertical-align: center;
}

.dragPics {
    box-sizing: border-box;
     width: 300px;
     height:180px;

}

aside {
    display: none;
    padding: 15px;
    color: yellow;
    font-size: 75px;
    position: absolute;
    left: 1300px;
    top: 100px;
}

input {
    border: none;
    padding: 15px;
    display: block;
    margin: auto;
    width: 50%;
    font-size:15px;
}

input:focus {
    outline: rgba(0, 0, 0, 0.5) solid 1px;
    color: rgba(0, 0, 0, 0.5);
}

.button {
    color: grey;
	padding: 15px;
	font-size: 19px;
	font-family: 'Ubuntu', sans-serif;
    border: none;
    font-weight: bold;
    letter-spacing: 2px;
    margin: auto;
    width: 50%;
    margin-top: 15px;
    display: block;
    border-radius: 13px;
}

.skipButton {
	background-color: black;
}

#resultsModal {
	text-align: center;
}