<div class="text-center">
  <form class="form-signin mt-5" #heroForm="ngForm">
    <img class="mb-4" src="../../brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" [(ngModel)]="user.username" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <div *ngIf="errors" class="mt-5">
      <div class="alert alert-danger" role="alert">
        {{ errors }}
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="register()">Submit</button>
    <a class="btn btn-lg btn-secondary btn-block" routerLink="/login">Already have an account? Sign in</a>
    <p class="mt-3 mb-3 text-muted">&copy; 2019</p>
  </form>
</div>
<ngx-smart-modal #myModal identifier="myModal">
    <h1>Message</h1>
    <br>
    <p>{{message}}</p>
    <br>
    <button class="btn btn-primary" (click)="closeModal()">Закрыть</button>
  </ngx-smart-modal>

