.option {
  color: grey;
  border-radius: 15px;
  padding: 15px;
  font-size: 15px;
  width: 520px;
  height: 75px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  float: left;
  background-color: white;
  text-align: center;
}

.optionYear {
  font-size: 14px;
}

.option:hover {
  background-color: yellow;
}

.inactive:hover {
  background-color: white;
}

img {
  text-align: center;
  width: 100%;
  vertical-align: middle;
}

.question {
  color: yellow;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 25px;
  font-family: 'Ubuntu', sans-serif;
}

.info_panel {
  position: absolute;
  right: 10%;
  color: yellow;
  top: 15%;
}

.active {
  background-color: yellow;
  animation: blink 1s ease-in infinite;
}
@keyframes blink {
  100% { opacity: 0; }
}

.wrong {
  background-color: red;
}

.right {
  background-color: green;
}

@media (max-width: 767px) {
  .option {
    width: 100%;
  }
}

.frame_container {
  width: 725px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  min-width: 725px;
}
